body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.container {
    text-align: center;
    border: 5px;
    border-style: double;
    margin: auto;
    background-color: white;
    width: 600px;
    height: 900px;
    position: absolute;
}

.topText {
    font-size: 15px;
    color: black;
    padding: 10%;   
}

#mainThe {

}

#mainScribe {
    margin: 0%;
}

.mainText {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 2px;    
}

.image {
    width: 350px;
}

.botText {
    font-size: 14px;
    font-weight: bold;
    padding: 5%;
    color: #555;
}

